/*style.css*/
#test {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 100px;
  top: 100px;
  
  text-align: center;
  
  border-radius: 10px;
  background-color: lightgreen;
  box-shadow: 0px 0px 5px gray;
}